Feature: enhance 3rd party support for authentication

### Is your feature request related to a problem?

Today, surrealDB supports 3rd party authentication through JWT. In order to make this work, one needs to define a token in the following way, supporting NAMESPACE, DATABASE and SCOPE authentication:

```
DEFINE TOKEN some_token FOR NAMESPACE;
DEFINE TOKEN some_token FOR DATABASE;
DEFINE TOKEN some_token FOR SCOPE account;
```

A user then needs to add claims to their JWT, in particular:

```
{
  "tk": "some_token",
  "db": "some_db",
  "ns": "some_namespace",
  "sc": "some_scope", // In case of scope authentication
  "exp": 1111111111
}
```

While this works really well with some 3rd party authentication providers, I think that it might be enhanced to support some others, like Firebase authentication.

The authentication flow for firebase with a JWT is the following:

1. Decode the token
2. Extract a `kid` header from the token
3. Call the following URL: https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com
4. Parse the public key matching the `kid` from the token
5. Verify the signature of the token against this extracted key
6. Match the `iss` claim of the token with a particular firebase project.

The `kid` header claim is not just a firebase thing, it is described in the [RFC 7515 ruling JSON Web Signature (JWS)](https://www.rfc-editor.org/rfc/rfc7515#section-4.1.4) and [RFC 7517 ruling Json Web Key (JWK)](https://www.rfc-editor.org/rfc/rfc7517#section-4.5)

So that would motivate extracting the `kid` claim and use it somehow.

Now, let's talk about 3. and 4. The JWT ecosystem already uses this mechanism. For references, see npm package [`jsonwebtoken`](https://www.npmjs.com/package/jsonwebtoken) downloaded 9M times a week and search for:

> Verify using getKey callback

Finally the 6. point is strictly about security and defined by [RFC 7519 about JSON Web Token (JWT)](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.1) and allows to control who issued the token. Some token issued by firebase could be issued by another firebase project, that could spoof some userId and access data that way if we don't check on the `iss` claim.

The same argument could be made for [the `aud` claim](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.3).

Side note: authentication fails if the `exp` claims isn't present on the JWT. But that will make it to another issue.

I'm not the only one trying to login with firebase, here are some discord messages relating to this:

https://discord.com/channels/902568124350599239/970338835990974484/1038070395015798854
https://discord.com/channels/902568124350599239/1027152959546609704/1027152959546609704
https://discord.com/channels/902568124350599239/902568124350599242/1024431274762448997
https://discord.com/channels/902568124350599239/970338835990974484/1012101224939659264
And my own thread this morning: https://discord.com/channels/902568124350599239/1055399370343850024/1055399370343850024


### Describe the solution

The solution in my opinion would be to add options to the `DEFINE TOKEN` statement.

It could be defined with the following statement:

```
DEFINE TOKEN my_token ON SCOPE account TYPE REMOTE VALUE 'https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com' FOR ISSUER 'xxx';
```

This syntax would allow to identify tokens that needs that particular authentication flow, given that the JWT itself already contains an `alg` header that contains the used algorithm `RS256` in my example.

I don't know any Rust, but I tried to identify what needs to be done to make it work:

This would need to extract `alg` and `kid` from the token itself, given that the `iss` claim is already extracted in:

https://github.com/surrealdb/surrealdb/blob/main/src/iam/token.rs

Then, we would need to do something around those lines I imagine:

https://github.com/surrealdb/surrealdb/blob/main/src/iam/verify.rs#L198-L201

I can't really go further on this with my lack of knowledge I'm sorry... 



### Alternative methods

Another solution in order to avoid complicating everything and adapting to every single use case would be to allow a custom authentication flow by using user defined javascript functions.

### SurrealDB version

1.0.0-beta8

### Contact Details

marteau.mathieu@gmail.com

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

@tobiemh I am considering looking into this. Is this something that would make sense to you too?  

I think that in order to make the system really powerful and extensible, we need to support custom logic. One example is described by OP. Here is another couple of examples: 
- Authenticating through E-Mail using magic links - user gives their email address to some kind of API endpoint, the endpoint creates a token for the given email and sends a mail with the magic link. User clicks the link and gets redirected back to the application, where client code authenticates the user with the email address and token. Here we can have some custom logic to find the user by email and verify provided token (check the table with tokens, for example) - this can't be done right now, as I understand.
- Securing sign up and sign in with CAPTCHA. User should provide their credentials (for example, email and password) along with CAPTCHA token. In order to proceed with the authentication, we first make some HTTP request to verify the token.

Having SurrealDB to autogenerate REST API for client side is very unique and promising despite a few other open source plugins on top of PostgresSQL. I wanted to use this but actually the auth is not compatible with OIDC/OAuth yet.

I can't let client side tightly couple on basic username/password db user. I know there are multiple level of users for namespace, db and scope, also JWT support. How about self register, forgot password etc. I can see there's a gap when the REST API made open for client.

So without going too details about the auth implementations, SurrealDB team have to make an API easier to plug any implementation especially support external JWT, OIDC and OAuth. At least make it flexible.

I'm not sure if Rust have a lib for all in one auth so we can just configure. Anyway, I wanted to hear the plan for this.

If you're using Firebase Auth, my current workaround for this is to replace the `authenticate(token)` and `DEFINE TOKEN ` approach with `signin()` and `DEFINE SCOPE` inspired by this message in Discord: https://discord.com/channels/902568124350599239/970337523287085057/1098333671620087838

I added a super simple callable Firebase Function that verifies the token and returns the uid:

```
import * as functions from 'firebase-functions';
import {getAuth} from 'firebase-admin/auth';

export default async (data: any, context: functions.https.CallableContext): Promise<string> => {
  const token: string = data['token'];
  const uid = await getAuth().verifyIdToken(token).then((decoded) => decoded.uid, (_) => '');

  return uid;
};
```

I then call that function using http::post and return the user record if any. $idToken is passed from the client after the user signs in.
```
DEFINE SCOPE user SESSION 1d SIGNIN {
  LET $userId = http::post('http://your-local-ip:5001/your-firebase-id/us-central1/verifyIdToken', { data: { token: $idToken } }, { "Content-type": 'application/json' });
  RETURN (SELECT * FROM user WHERE id = type::thing('user', $userId.result));
};
```

Then just make sure that a user record is created when the user first signs in using Firebase's onUserCreate event function.

This is super interesting and could allow the ability to add providers (oAuth) and passwordless authentication! This is huge and necessary.

That work around would run a fetch to Firebase Functions which runs a fetch to:
```
https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com
```
So, if we could run a fetch directly to get the JWT (and cache it, which is a different problem --- it changes every 24hrs...), then we could verify it with something like:
```js
LET $claims = crypto::jwt::decode($idToken);
```
This would be awesome.  Dgraph had something similar allowing you to [input your JWT URL](https://discuss.hypermode.com/t/using-firebase-authentication-graphql/12495).

Of course, if Surreal had Oauth and Passwordless built-in, there may be no need for an external provider, similar to [Gel](https://docs.geldata.com/reference/auth/magic_link).

Hope this gets implemented.

:)

J

With this option, you could also allow custom logins for providers...

```
DEFINE SCOPE user SESSION 1d SIGNIN {
  -- Client calls: SIGNIN SCOPE user SET idToken = "<google-id-token>";
  LET $resp = http::post(
    "https://your.backend/verify-google-id-token",
    { idToken: $idToken, clientId: "YOUR_GOOGLE_OAUTH_CLIENT_ID" },
    { "Content-Type": "application/json" }
  );

  IF !$resp.ok THEN
    THROW "INVALID_GOOGLE_ID_TOKEN";
  END;

  LET $sub     = $resp.sub;         -- Google user id
  LET $email   = $resp.email;
  LET $name    = $resp.name;
  LET $picture = $resp.picture;
  LET $verified = $resp.email_verified;

  -- Use Google's sub as the stable record id
  LET $rid = type::thing("user", $sub);

  UPDATE $rid MERGE {
    email: $email,
    name: $name,
    picture: $picture,
    email_verified: $verified,
    last_login_at: time::now(),
    created_at: if $prev = (SELECT created_at FROM $rid);
                  if $prev[0].created_at != NONE { $prev[0].created_at } ELSE time::now()
                end
  };

  RETURN SELECT * FROM $rid;
};
```

However, instead of verifying it with your own app, the database itself could verify a token. This could open the door for complex login logic!

J