Bug: Limitation for username and password

### Describe the bug

I've tried different combination of username and passwords, and it seems only `root` and `root` actually work.
Are there limitations in terms of length or character set for the username and password ?
Does anything else need to be done for a non `root` username and password ?



### Steps to reproduce

start surreal with
```
surreal start --conn http://127.0.0.1:8000 --user yqxN4N4Cr2KQSf65XVBG --pass jquTkj5P2t83JUVVi5dA  --ns test --db test
```

try to connect to it with the sql cli
```
surreal sql --conn http://127.0.0.1:8000 --user yqxN4N4Cr2KQSf65XVBG --pass jquTkj5P2t83JUVVi5dA --pretty --ns test --db test
```

you'll get a 403
I'm not sure why.

Note that if user and password are both root, it works.

### Expected behaviour

it would be great to be able to specify a custom user and password.

### SurrealDB version

master with this commit https://github.com/surrealdb/surrealdb/commit/3f528ab183fdde4add9cb8dd200d4e6085a755e7

### Contact Details

happysalada@tuta.io

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

It looks like this is an issue of base64 decoding the basic auth header. I added some logic to output the error of https://github.com/surrealdb/surrealdb/blob/main/src/iam/verify.rs#L98 and get `InvalidPadding`

If you add an extra character to your password, it will work.


A little more investigating and it seems to be using "STANDARD_NO_PAD" as shown here: https://github.com/surrealdb/surrealdb/blob/main/src/iam/verify.rs#L10

I switched it locally to "STANDARD" and the problem was resolved for me.

I believe it should support padding, though I'm not that familiar with this topic. A quick search led me to this:

[[RFC7617]](https://www.rfc-editor.org/rfc/rfc7617)

> defines the "Basic" Hypertext Transfer Protocol (HTTP) authentication scheme, which transmits credentials as user-id/password pairs, encoded using Base64.

It states:
> To receive authorization, the client
>    1.  obtains the user-id and password from the user,
>    2.  constructs the user-pass by concatenating the user-id, a single
>        colon (":") character, and the password,
>    3.  encodes the user-pass into an octet sequence (see below for a
>        discussion of character encoding schemes),
>    4.  and obtains the basic-credentials by encoding this octet sequence
>        using Base64 ([[RFC4648], Section 4](https://www.rfc-editor.org/rfc/rfc4648#section-4)) into a sequence of US-ASCII
>        characters ([[RFC0020](https://www.rfc-editor.org/rfc/rfc0020)]).

[[RFC4648], Section 4](https://www.rfc-editor.org/rfc/rfc4648#section-4) describes the `Base 64 Encoding` however, [[RFC4648], Section 3.2](https://www.rfc-editor.org/rfc/rfc4648#section-3.2) "Padding of Encoded Data" seems to be more clear:
>    In some circumstances, the use of padding ("=") in base-encoded data
>    is not required or used.  In the general case, when assumptions about
>    the size of transported data cannot be made, padding is required to
>    yield correct decoded data.
> 
>    Implementations MUST include appropriate pad characters at the end of
>    encoded data unless the specification referring to this document
>    explicitly states otherwise.

Ive tried connecting to surrealdb with websockets from the rust client library and had an authentication error as well (i dont know if this helps)

@happysalada are you running both the server and the client from the same commit? This should work fine...

```bash
cargo run -- start --log trace --user yqxN4N4Cr2KQSf65XVBG --pass jquTkj5P2t83JUVVi5dA memory
cargo run -- sql --conn ws://0.0.0.0:8000 --user yqxN4N4Cr2KQSf65XVBG --pass jquTkj5P2t83JUVVi5dA --ns test --db test
```

to connect, I was using the rust library, not the cli tool.
So the code looked like
```
    let client = Surreal::new::<Ws>(config.surrealdb.host.clone()).await?;

    // Signin as a namespace, database, or root user
    client
        .signin(Root {
            username: &config.surrealdb_username,
            password: &config.surrealdb_password,
        })
        .await?;

    client
        .use_ns(&config.surrealdb.namespace)
        .use_db(&config.surrealdb.database)
        .await?;
```
and those were erroring out.

Thanks a lot for taking care of this so quickly!