[api, webhooks] HTTP Accept request header should be optional

### What component does this affect?

SurrealDB Server

### Describe the bug

Issue #5969 / PR #5962 eliminated the need for `Surreal-NS` and `Surreal-DB` HTTP headers to be supplied to API routes, paving the way for API handlers to be used as webhook POST ingest endpoint listeners for events sent by third-party service providers.

However, an additional issue arises when no HTTP `Accept` header is supplied. Most webhook producers we tested do not supply an `Accept` header in their HTTP requests. This currently raises a SurrealDB error. We're currently working around this with a Traefik middleware that injects an `Accept` header.)

Per [RFC 9110 § 12.5.1](https://www.rfc-editor.org/rfc/rfc9110.html#name-accept) the `Accept` header is optional. Though no default is specified, the common interpretation is to handle this case as equivalent to `Accept: */*`.

We found that most webhook producers tolerate a minimal or empty `application/json` or `text/plain` response `Content-Type`, however best practice is to return a `204 No Content` HTTP response (with no `Content-Type` or `Content-Length`).

### Steps to reproduce

```
curl -X POST https://example.com/api/myns/mydb/webhook_listener --header "Content-Type: application/json" --data '{"event": {}}'
```

### Expected behaviour

The suggested fix is to permit HTTP requests without an Accept header, (definitely for the POST method, probably for the other HTTP methods too), and also accept HTTP requests with an `Accept: */*` header.

Further, consider interpreting a successful NONE return value as an HTTP `204 No Content` response for the sake of developer ergonomics, as ingesting webhook data is a likely common use case for the API endpoint feature. (If a return body is nevertheless supplied by the user-defined function, it's most likely fine to default to `Content-Type: application/json` as the request hasn't supplied any specific expectation.)

(There are additional potential improvements to the webhook ingest workflows, such documenting how to validate cryptographic webhook signatures supplied by some webhook providers, but with the `Accept` header fix SurrealDB can provide a viable MVP implementation for webhook ingest using database functions alone). 

### SurrealDB version

surreal 2.3.6 for linux on x86_64

### Contact Details

_No response_

### Could this be a bug with your application?

- [x] I confirm this is a bug with SurrealDB, not with my own application

### Is there an existing issue for this?

- [x] I confirm that I have searched the existing issues

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct